@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply antialiased;

    scroll-behavior: smooth;
    font-family    : var(--font-roboto);
    background     : #06350B;
}

.font-roboto {
    font-family: var(--font-roboto);
}

.font-lexend {
    font-family: var(--font-lexend);
}

.bg-forest {
    background-image : url("/forest.webp");
    background-repeat: no-repeat;
}

.link {
    @apply text-white transition-all duration-300 ease-in-out outline-none hover:text-[#FDB74D] hover:drop-shadow-md active:shadow-none active:text-[#FF9900] focus:text-[#91E704] font-bold;
    @apply text-base leading-4 text-left;
    @apply transition-all duration-300 ease-in-out;
    &.active {
        @apply text-[#FF9900];
    }
}

.text-h-lg {
    @apply
        text-4xl
        md:text-5xl;
}
.text-h-md {
    @apply
        text-[28px] leading-[33px]
        md:text-[32px] md:leading-[38px];
}
.text-h-sm {
    @apply
        text-[22px] leading-[26px]
        md:text-[24px] md:leading-[28px];
}
.text-h-xs {
    @apply text-[20px] leading-[24px];
}

.text-h-lg,
.text-h-md,
.text-h-sm,
.text-h-xs {
    font-family: var(--font-lexend);
}

.text-b-lg {
    @apply text-lg leading-normal;
}
.text-b-md {
    @apply text-base leading-normal;
}
.text-b-sm {
    @apply text-sm leading-normal;
}

.button {
    @apply rounded-md text-black font-bold border border-transparent disabled:opacity-50 transition-all duration-300 ease-in-out bg-[#FF9900] subpixel-antialiased;
    &:hover:not(:disabled) {
        background: #FDB74D;
        @apply drop-shadow-lg;
    }
    &:active:not(:disabled) {
        background: #F67D00;
        @apply shadow-none;
    }
    &:focus:not(:disabled) {
        background: #FF9900;
    }
}

.button-md {
    @apply px-6 text-base leading-normal rounded-md h-[42px];
}

input[type="text"],
input[type="email"] {
    @apply h-[42px]
}
input[type="text"],
input[type="email"],
textarea {
    @apply text-b-md px-4 rounded-lg bg-white transition-all duration-300 ease-in-out;
    &:hover {
        border-color: #FDB74D;
    }
    &:focus {
        border-color: #F67D00;
        @apply ring-0;
    }

}

.logo-shadow {
    box-shadow: 0 0 13px 16px #FFFFFF;
}

.react-aria-Popover[data-trigger=Select] {
    width: var(--trigger-width);
}

.react-aria-ListBoxItem[data-focus-visible], .react-aria-ListBoxItem[data-focused] {
    @apply outline-none;
}

nav {
    .link {
        @apply md:opacity-100;
        @apply text-[34px] leading-[34px] text-center;
        @apply md:text-base md:leading-4 md:text-left;
    }
    &.open {
        background-color: rgba(6, 53, 11, .5);
        backdrop-filter: blur(10px);
        @apply max-h-screen;
    }
}
